body {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    border: none;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}

div.t-container{
    background-color: #f38181;
    margin: 0 auto 0 auto;
    padding-top: 5rem;
    position: relative;
    height: 92vh;
}

.t-container>h1{
    font-size: 4em;
    position: absolute;
    top: 7rem;
    left: 40vw;
}

.t-container>p{
    font-size: 1.5em;
    position: absolute;
    top: 15rem;
    left: 36vw;
}

.t-container>p>span{
    text-decoration: underline;
}

#top-cloud{
    position: absolute;
    right: 20vw;
    top: 2rem;
    width: 12em;
}

#bottom-cloud{
    position: absolute;
    left: 20vw;
    bottom: 32rem;
    width: 12em;
}

#mountain{
    position: absolute;
    bottom: 0;
    right: 25vw;
    width:55%;
    height: 55%;
}

.middle-container{
    background-color: #95e1d3;
    padding: 2rem 0 2rem 0;
}

.bottom-container{
    background-color: #eaffd0;
    padding: 2rem 0 2rem 0;
}